<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Spring eCommerce</title>
	
	<!-- Bootstrap core CSS -->
	<div th:insert="~{components\Animations\bootstrapContext.html :: bootstrapLink}"></div>
  </head>
  
  <body>
  <!-- Navigation -->
  	<div th:insert="~{components\NavBar\navbar.html :: navbar}"></div> 

    <!-- Page Content -->
    <div class="container">
		<!-- Header -->
   		<div th:insert="~{components\Header\header.html :: header}"></div>
   		  		
      	<!-- Page Features -->
      	<div th:fragment= "itemcataloge">
 			<div class="row text-center">
        	<div class="col-lg-3 col-md-6 mb-4">
	          <div class="card h-100">
	            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
	            <div class="card-body">
	              <p class="card-text">Nombre del producto.</p>
	            </div>
	            <div class="card-footer">
	              <a href="productohome.html" class="btn btn-success">Ver producto</a>
	            </div>
	          </div>
	        </div>
	
	        <div class="col-lg-3 col-md-6 mb-4">
	          <div class="card h-100">
	            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
	            <div class="card-body">
	              <p class="card-text">Nombre del producto.</p>
	            </div>
	            <div class="card-footer">
	              <a href="#" class="btn btn-success">Ver producto</a>
	            </div>
	          </div>
	        </div>
	
	        <div class="col-lg-3 col-md-6 mb-4">
	          <div class="card h-100">
	            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
	            <div class="card-body">
	              <p class="card-text">Nombre del producto.</p>
	            </div>
	            <div class="card-footer">
	              <a href="#" class="btn btn-success">Ver producto</a>
	            </div>
	          </div>
	        </div>
	        <div class="col-lg-3 col-md-6 mb-4">
	          <div class="card h-100">
	            <img class="card-img-top" src="http://placehold.it/500x325" alt="">
	            <div class="card-body">
	              <p class="card-text">Nombre del producto.</p>
	            </div>
	            <div class="card-footer">
	              <a href="#" class="btn btn-success">Ver producto</a>
	            </div>
	          </div>
	        </div>
	      </div>
	</div> 
	</div>
	
	<!-- Footer --> 
    <div th:insert="~{components\Footer\footer.html :: footer}"></div>
	
	<!-- Bootstrap core JavaScript  -->
    <div th:insert="~{components\Animations\bootstrapContext.html :: bootstrapContext}"></div>
  
  	
  </body>
</html>

